<div class="col-sm-8 blog-main">

  <%= paginate @blogs %>

  <% if logged_in?(:site_admin) %>
    <%= render @blogs %>
  <% else %>
    <%= render @blogs.published %>
  <% end %>
  
  <%= paginate @blogs %>
</div>
      




