<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Add content here later</p>
  <p class="lead">Add more content here<p/>
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

    


